/* BASIC STYLES HERE */
p{
  margin: 0;
}

#question-row{
  margin-top: 20vh;
}

button{
  width: 90%;
  height: 80px;
}

#answer-btn{
  font-size: .8em;
}

#question-div{
  font-family: 'Amatic SC', cursive;
}

#answer-btns-div{
  font-family: 'Gloria Hallelujah', cursive;
}